fastapi
uvicorn
scikit-learn
lime
motor
beautifulsoup4
python-multipart
pandas
joblib
pymongo
nltk
newspaper3k
lxml_html_clean
transformers
torch
PyPDF2
python-docx
fastapi-cache2[redis]
gunicorn
langdetect
passlib[bcrypt]
python-jose[cryptography]
